<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phonecard.dao.LeaderMapper" >
  <resultMap id="BaseResultMap" type="com.phonecard.bean.Leader" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="leader_wechat" property="leaderWechat" jdbcType="VARCHAR" />
    <result column="leader_name" property="leaderName" jdbcType="VARCHAR" />
    <result column="leader_phone" property="leaderPhone" jdbcType="CHAR" />
    <result column="leader_ID" property="leaderId" jdbcType="VARCHAR" />
    <result column="leader_company_name" property="leaderCompanyName" jdbcType="VARCHAR" />
    <result column="leader_post" property="leaderPost" jdbcType="VARCHAR" />
    <result column="leader_address" property="leaderAddress" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="explains" property="explains" jdbcType="VARCHAR" />
    <result column="leader_balance" property="leaderBalance" jdbcType="DOUBLE" />
    <result column="introduce_name" property="introduceName" jdbcType="VARCHAR" />
    <result column="introduce_phone" property="introducePhone" jdbcType="CHAR" />
    <result column="is_code" property="isCode" jdbcType="VARCHAR" />
    <result column="in_type" property="inType" jdbcType="SMALLINT" />
    <result column="is_delete" property="isDelete" jdbcType="SMALLINT" />
    <result column="is_introduce" property="isIntroduce" jdbcType="SMALLINT" />
    <result column="is_disable" property="isDisable" jdbcType="SMALLINT" />
  </resultMap>
  <resultMap id="LeaderResultMap" type="com.phonecard.vo.LeaderVo" extends="BaseResultMap">
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, open_id, leader_wechat, leader_name, leader_phone, leader_ID, leader_company_name, 
    leader_post, leader_address, company_id, explains, leader_balance, introduce_name, 
    introduce_phone, is_code, in_type, is_delete, is_introduce, is_disable
  </sql>

  <select id="selectLeaderList" resultMap="LeaderResultMap" >
    select
    l.id, l.open_id, l.leader_wechat, l.leader_name, l.leader_phone, l.leader_ID, l.leader_company_name,
    l.leader_post, l.leader_address, l.company_id, l.explains, i.income_all as leader_balance, l.introduce_name,
    l.introduce_phone, l.is_code, l.in_type, l.is_delete, l.is_introduce, l.is_disable, u.nick_name, u.icon
    from leader as l
    left join user_base as u on u.open_id = l.open_id
    left join income as i on i.open_id = l.open_id
    where 0 = 0 and l.is_delete = 0
    <if test="pageObject.title != null and pageObject.title != ''">
      and l.leader_company_name LIKE CONCAT ('%',#{pageObject.title},'%')
    </if>
    <if test="pageObject.name != null and pageObject.name != ''">
      and l.leader_name LIKE CONCAT ('%',#{pageObject.name},'%')
    </if>
    <if test="pageObject.type != null and pageObject.type != ''">
      and l.in_type = #{pageObject.type}
    </if>
    <if test="pageObject.type == '0'.toString()">
      and l.in_type = 0
    </if>
    <if test="pageObject.id != null and pageObject.id != ''">
      and l.company_id = #{pageObject.id}
    </if>
    order by
    <if test="pageObject.state == 1">
      i.income_all desc,
    </if>
    <if test="pageObject.state == 2">
      (SELECT sum(t.cout) as consumeSum FROM
      (select count(1) as cout from
      product_order as p
      left join `share` as s on s.open_id = p.open_id
      where p.one_open_id = l.open_id and p.order_status = 1
      ) as t) desc,
    </if>
    l.in_type,l.id desc
    limit #{pageObject.startIndex}, #{pageObject.pageSize}
  </select>

  <select id="getLeaderRow" resultType="java.lang.Integer" >
    select
    count(1)
    from leader as l
    where 0 = 0 and l.is_delete = 0
    <if test="pageObject.title != null and pageObject.title != ''">
      and l.leader_company_name LIKE CONCAT ('%',#{pageObject.title},'%')
    </if>
    <if test="pageObject.name != null and pageObject.name != ''">
      and l.leader_name LIKE CONCAT ('%',#{pageObject.name},'%')
    </if>
    <if test="pageObject.type != null and pageObject.type != ''">
      and l.in_type = #{pageObject.type}
    </if>
    <if test="pageObject.type == '0'.toString()">
      and l.in_type = 0
    </if>
    <if test="pageObject.id != null and pageObject.id != ''">
      and l.company_id = #{pageObject.id}
    </if>
  </select>

  <update id="setLeaderInfo" >
    update leader
    set
      is_disable = #{status}
    where open_id = #{openId}
  </update>

  <select id="selectLeaderDetail" resultMap="LeaderResultMap" >
    select
    l.id, l.open_id, l.leader_wechat, l.leader_name, l.leader_phone, l.leader_ID, l.leader_company_name,
    l.leader_post, l.leader_address, l.company_id, l.explains, i.income_all as leader_balance, l.introduce_name,
    l.introduce_phone, l.is_code, l.in_type, l.is_delete, l.is_introduce, l.is_disable, u.nick_name, u.icon
    from leader as l
    left join user_base as u on u.open_id = l.open_id
    left join income as i on i.open_id = l.open_id
    where l.id = #{id}
  </select>

  <select id="selectOrderSum" resultType="java.lang.Integer" >
  (SELECT sum(t.cout) as consumeSum FROM
  (select count(1) as cout from
  product_order as p
  left join `share` as s on s.open_id = p.open_id
  where p.one_open_id = #{openId} and p.order_status = 1
  ) as t)
  </select>

  <select id="selectUserSum" resultType="java.lang.Integer" >
    select count(1) from share as s where s.one_open_id = #{openId}
  </select>

  <select id="selectLeaderAllList" resultMap="LeaderResultMap" >
    select
    id, open_id, leader_name
    from leader
    where is_delete = 0 and is_disable = 0 and in_type = 1
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from leader
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.phonecard.bean.Leader" >
    insert into leader (id, open_id, leader_wechat, 
      leader_name, leader_phone, leader_ID, 
      leader_company_name, leader_post, leader_address, 
      company_id, explains, leader_balance, 
      introduce_name, introduce_phone, is_code, 
      in_type, is_delete, is_introduce, 
      is_disable)
    values (#{id,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{leaderWechat,jdbcType=VARCHAR}, 
      #{leaderName,jdbcType=VARCHAR}, #{leaderPhone,jdbcType=CHAR}, #{leaderId,jdbcType=VARCHAR}, 
      #{leaderCompanyName,jdbcType=VARCHAR}, #{leaderPost,jdbcType=VARCHAR}, #{leaderAddress,jdbcType=VARCHAR}, 
      #{companyId,jdbcType=INTEGER}, #{explains,jdbcType=VARCHAR}, #{leaderBalance,jdbcType=DOUBLE}, 
      #{introduceName,jdbcType=VARCHAR}, #{introducePhone,jdbcType=CHAR}, #{isCode,jdbcType=VARCHAR}, 
      #{inType,jdbcType=SMALLINT}, #{isDelete,jdbcType=SMALLINT}, #{isIntroduce,jdbcType=SMALLINT}, 
      #{isDisable,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.phonecard.bean.Leader" >
    insert into leader
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="leaderWechat != null" >
        leader_wechat,
      </if>
      <if test="leaderName != null" >
        leader_name,
      </if>
      <if test="leaderPhone != null" >
        leader_phone,
      </if>
      <if test="leaderId != null" >
        leader_ID,
      </if>
      <if test="leaderCompanyName != null" >
        leader_company_name,
      </if>
      <if test="leaderPost != null" >
        leader_post,
      </if>
      <if test="leaderAddress != null" >
        leader_address,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="explains != null" >
        explains,
      </if>
      <if test="leaderBalance != null" >
        leader_balance,
      </if>
      <if test="introduceName != null" >
        introduce_name,
      </if>
      <if test="introducePhone != null" >
        introduce_phone,
      </if>
      <if test="isCode != null" >
        is_code,
      </if>
      <if test="inType != null" >
        in_type,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="isIntroduce != null" >
        is_introduce,
      </if>
      <if test="isDisable != null" >
        is_disable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="leaderWechat != null" >
        #{leaderWechat,jdbcType=VARCHAR},
      </if>
      <if test="leaderName != null" >
        #{leaderName,jdbcType=VARCHAR},
      </if>
      <if test="leaderPhone != null" >
        #{leaderPhone,jdbcType=CHAR},
      </if>
      <if test="leaderId != null" >
        #{leaderId,jdbcType=VARCHAR},
      </if>
      <if test="leaderCompanyName != null" >
        #{leaderCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="leaderPost != null" >
        #{leaderPost,jdbcType=VARCHAR},
      </if>
      <if test="leaderAddress != null" >
        #{leaderAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="explains != null" >
        #{explains,jdbcType=VARCHAR},
      </if>
      <if test="leaderBalance != null" >
        #{leaderBalance,jdbcType=DOUBLE},
      </if>
      <if test="introduceName != null" >
        #{introduceName,jdbcType=VARCHAR},
      </if>
      <if test="introducePhone != null" >
        #{introducePhone,jdbcType=CHAR},
      </if>
      <if test="isCode != null" >
        #{isCode,jdbcType=VARCHAR},
      </if>
      <if test="inType != null" >
        #{inType,jdbcType=SMALLINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=SMALLINT},
      </if>
      <if test="isIntroduce != null" >
        #{isIntroduce,jdbcType=SMALLINT},
      </if>
      <if test="isDisable != null" >
        #{isDisable,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.phonecard.bean.Leader" >
    update leader
    <set >
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="leaderWechat != null" >
        leader_wechat = #{leaderWechat,jdbcType=VARCHAR},
      </if>
      <if test="leaderName != null" >
        leader_name = #{leaderName,jdbcType=VARCHAR},
      </if>
      <if test="leaderPhone != null" >
        leader_phone = #{leaderPhone,jdbcType=CHAR},
      </if>
      <if test="leaderId != null" >
        leader_ID = #{leaderId,jdbcType=VARCHAR},
      </if>
      <if test="leaderCompanyName != null" >
        leader_company_name = #{leaderCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="leaderPost != null" >
        leader_post = #{leaderPost,jdbcType=VARCHAR},
      </if>
      <if test="leaderAddress != null" >
        leader_address = #{leaderAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="explains != null" >
        explains = #{explains,jdbcType=VARCHAR},
      </if>
      <if test="leaderBalance != null" >
        leader_balance = #{leaderBalance,jdbcType=DOUBLE},
      </if>
      <if test="introduceName != null" >
        introduce_name = #{introduceName,jdbcType=VARCHAR},
      </if>
      <if test="introducePhone != null" >
        introduce_phone = #{introducePhone,jdbcType=CHAR},
      </if>
      <if test="isCode != null" >
        is_code = #{isCode,jdbcType=VARCHAR},
      </if>
      <if test="inType != null" >
        in_type = #{inType,jdbcType=SMALLINT},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=SMALLINT},
      </if>
      <if test="isIntroduce != null" >
        is_introduce = #{isIntroduce,jdbcType=SMALLINT},
      </if>
      <if test="isDisable != null" >
        is_disable = #{isDisable,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.phonecard.bean.Leader" >
    update leader
    set open_id = #{openId,jdbcType=VARCHAR},
      leader_wechat = #{leaderWechat,jdbcType=VARCHAR},
      leader_name = #{leaderName,jdbcType=VARCHAR},
      leader_phone = #{leaderPhone,jdbcType=CHAR},
      leader_ID = #{leaderId,jdbcType=VARCHAR},
      leader_company_name = #{leaderCompanyName,jdbcType=VARCHAR},
      leader_post = #{leaderPost,jdbcType=VARCHAR},
      leader_address = #{leaderAddress,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=INTEGER},
      explains = #{explains,jdbcType=VARCHAR},
      leader_balance = #{leaderBalance,jdbcType=DOUBLE},
      introduce_name = #{introduceName,jdbcType=VARCHAR},
      introduce_phone = #{introducePhone,jdbcType=CHAR},
      is_code = #{isCode,jdbcType=VARCHAR},
      in_type = #{inType,jdbcType=SMALLINT},
      is_delete = #{isDelete,jdbcType=SMALLINT},
      is_introduce = #{isIntroduce,jdbcType=SMALLINT},
      is_disable = #{isDisable,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>