<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phonecard.dao.RecordRefundMapper" >
  <resultMap id="BaseResultMap" type="com.phonecard.bean.RecordRefund" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="order_uuid" property="orderUuid" jdbcType="VARCHAR" />
    <result column="out_refund_no" property="outRefundNo" jdbcType="VARCHAR" />
    <result column="refund_fee" property="refundFee" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_success" property="isSuccess" jdbcType="INTEGER" />
    <result column="is_deposit" property="isDeposit" jdbcType="SMALLINT" />
  </resultMap>

  <resultMap id="refundOrderExportMap" type="com.phonecard.bean.RefundOrderDto" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="product_order_uuid" property="productOrderUuid" jdbcType="VARCHAR" />
    <result column="one_sort_id" property="oneSortId" jdbcType="INTEGER" />
    <result column="goods_uuid" property="goodsUuid" jdbcType="VARCHAR" />
    <result column="is_one" property="isOne" jdbcType="INTEGER" />
    <result column="properties" property="properties" jdbcType="VARCHAR" />
    <result column="sku_id" property="skuId" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="deposit" property="deposit" jdbcType="DOUBLE" />
    <result column="commission" property="commission" jdbcType="DOUBLE" />
    <result column="thumb" property="thumb" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="name_self" property="nameSelf" jdbcType="VARCHAR" />
    <result column="phone_self" property="phoneSelf" jdbcType="CHAR" />
    <result column="distribution_type" property="distributionType" jdbcType="SMALLINT" />
    <result column="is_comment" property="isComment" jdbcType="SMALLINT" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="actual_price" property="actualPrice" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="nick_name" property="nickname" jdbcType="VARCHAR" />
    <result column="leader_name" property="leaderName" jdbcType="VARCHAR" />
    <result column="refund_fee" property="refundMoney" jdbcType="DOUBLE" />

  </resultMap>


  <sql id="Base_Column_List" >
    id, type, order_uuid, out_refund_no, refund_fee, create_time, is_success, is_deposit
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from record_refund
    where id = #{id,jdbcType=INTEGER}
  </select>
   <select id="findRefundOrderByPage" resultMap="refundOrderExportMap">
     SELECT pod.*,po.*,us.nick_name,temp.leader_name,rr.refund_fee FROM record_refund rr
     LEFT JOIN product_order_detail pod ON pod.uuid = rr.order_uuid
     LEFT JOIN product_order po ON pod.product_order_uuid = po.uuid
     LEFT JOIN user_base us ON po.open_id = us.open_id
     LEFT JOIN
     (
     SELECT l.leader_name,s.open_id FROM leader l LEFT JOIN `share` s ON l.open_id = s.one_open_id
     ) temp  ON us.open_id = temp.open_id
     where 1 =1
     <if test="orderNo != null">
       and pod.uuid = #{orderNo,jdbcType=VARCHAR}
     </if>
     <if test="fetchType != null">
       and pod.distribution_type = #{fetchType,jdbcType=INTEGER}
     </if>
     <if test="leaderNickName != null">
       and temp.leader_name = #{leaderNickName,jdbcType=VARCHAR}
     </if>
     <if test="startTime != null">
       and po.create_time &gt;= #{startTime,jdbcType=VARCHAR}
     </if>
     <if test="endTime != null">
       and po.create_time &lt;= #{endTime,jdbcType=VARCHAR}
     </if>
   </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from record_refund
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.phonecard.bean.RecordRefund" >
    insert into record_refund (id, type, order_uuid, 
      out_refund_no, refund_fee, create_time, 
      is_success, is_deposit)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{orderUuid,jdbcType=VARCHAR}, 
      #{outRefundNo,jdbcType=VARCHAR}, #{refundFee,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{isSuccess,jdbcType=INTEGER}, #{isDeposit,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.phonecard.bean.RecordRefund" >
    insert into record_refund
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="orderUuid != null" >
        order_uuid,
      </if>
      <if test="outRefundNo != null" >
        out_refund_no,
      </if>
      <if test="refundFee != null" >
        refund_fee,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isSuccess != null" >
        is_success,
      </if>
      <if test="isDeposit != null" >
        is_deposit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="orderUuid != null" >
        #{orderUuid,jdbcType=VARCHAR},
      </if>
      <if test="outRefundNo != null" >
        #{outRefundNo,jdbcType=VARCHAR},
      </if>
      <if test="refundFee != null" >
        #{refundFee,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isSuccess != null" >
        #{isSuccess,jdbcType=INTEGER},
      </if>
      <if test="isDeposit != null" >
        #{isDeposit,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.phonecard.bean.RecordRefund" >
    update record_refund
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="orderUuid != null" >
        order_uuid = #{orderUuid,jdbcType=VARCHAR},
      </if>
      <if test="outRefundNo != null" >
        out_refund_no = #{outRefundNo,jdbcType=VARCHAR},
      </if>
      <if test="refundFee != null" >
        refund_fee = #{refundFee,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isSuccess != null" >
        is_success = #{isSuccess,jdbcType=INTEGER},
      </if>
      <if test="isDeposit != null" >
        is_deposit = #{isDeposit,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.phonecard.bean.RecordRefund" >
    update record_refund
    set type = #{type,jdbcType=INTEGER},
      order_uuid = #{orderUuid,jdbcType=VARCHAR},
      out_refund_no = #{outRefundNo,jdbcType=VARCHAR},
      refund_fee = #{refundFee,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_success = #{isSuccess,jdbcType=INTEGER},
      is_deposit = #{isDeposit,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>